.header {
    position: fixed;
    left: 0;
    top: 0;
    height: 20vh;
    width: 100%;
    background: rgb(219, 7, 7);
    align-content: center;
    text-align: center;
    color: white;
}

.header h1 {
    margin-top: 45px;
    font-family: Arial, Helvetica, sans-serif;
}